.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#my_canvas
{
 border-color:red;
 border-radius:10px;  
 border-width:10px;
 border-style: ridge;
}

